# intellij files
.idea/
*.iml
*.ipr
*.iws
build-idea/
/out/
/classes/

# eclipse files
.project
.classpath
.settings
build-eclipse/
target/

# gradle stuff
.gradle/
build/

# testing stuff
**/.local*
.vagrant/
/logs/
/log/
/config/

# osx stuff
.DS_Store

# random old stuff that we should look at the necessity of...
/tmp/
eclipse-build
